.iphone {
	.iphone-desc {
		background: url("../img/iphone/main-background.jpg") no-repeat top;
		background-size: cover;
		.overlay {
			padding-top: 100px;
			padding-bottom: 100px;
			height: 100%;
			background-image: linear-gradient(
				to bottom,
				$blackColor,
				$backColor,
				transparent
			);
		}
	}
	.take-look {
		padding-top: 130px;
		width: 100%;
		overflow: hidden;
		background: url("../img/iphone/take-look-backgrounnd2.png") no-repeat;
		background-size: cover;
		.info {
			a {
				width: 220px !important;
			}
			h2 {
				@media (max-widt: 767.98px) {
					font-size: 45px !important;
				}
			}
		}
		.img {
			img {
				bottom: 0;
				right: 0;
			}
		}
	}
	.cameras {
		padding-top: 120px !important;
		padding-bottom: 120px !important;
		@media (max-width: 768.98px) {
			padding-top: 80px !important;
			padding-bottom: 80px !important;
		}
		background: url("../img/iphone/camers-background.png") no-repeat;
		background-size: cover;
	}
	.all-cameras {
		background-color: $backColor;
		padding-top: 100px;
		overflow: hidden;
		p {
			font-size: 28px;
			line-height: 1.2;
		}
		img {
			@media (max-width: 991.98px) {
				width: 100%;
				height: auto;
			}
		}
	}
	.camera-one,
	.camera-two,
	.camera-three {
		padding-top: 100px;
		overflow: hidden;
		h3 {
			color: #f6c408;
			border-bottom: 1px solid $whiteColor;
			width: 310px;
		}
		img {
			@media (max-width: 991.98px) {
				width: 100%;
				height: auto;
			}
		}
	}
	.camera-one,
	.camera-three {
		background-color: $blackColor !important;
	}
	.camera-two {
		h3 {
			width: 210px;
		}
		background-color: $backColor !important;
	}
}
