.music {
	header {
		overflow: hidden;
		padding: 55px 0;
		background-image: linear-gradient(125deg, #f36c62, #bf4fd3);
		.info {
			a {
				&:first-of-type {
					display: inline-block !important;
				}
			}
		}
		.img {
			width: 100%;
			height: 100%;
			img {
				width: 170%;
			}
		}
	}
	.music-slider {
		ul.switch-tab {
			li {
				&.active,
				&:hover {
					color: #bf4fd3;
					cursor: pointer;
					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 1px;
						margin-top: 5px;
						background-color: #bf4fd3;
					}
				}
				@media (max-width: 767px) {
					width: 100%;
					padding: 15px;
					font-weight: bold;
					&.active,
					&:hover {
						&::after {
							display: none;
						}
						background-color: $backColor;
					}
				}
				@media (min-width: 768px) and (max-width: 991px) {
					width: 50%;
					padding: 15px;
					font-weight: bold;
					&.active,
					&:hover {
						&::after {
							display: none;
						}
						background-color: $backColor;
					}
				}
			}
		}
		.tabs {
			.tab {
				&:not(:first-of-type) {
					display: none;
				}
				.slick-prev,
				.slick-next {
					top: 40%;
				}
				.slick-prev {
					right: 0;
				}
				.slick-prev::before,
				.slick-next::before {
					content: "\f0a8";
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					color: $whiteColor;
				}
				.slick-prev::before {
					content: "\f0a8";
				}
				.slick-next::before {
					content: "\f0a9";
				}

				.song {
					.img {
						&:hover {
							.overlay {
								opacity: 1;
							}
						}
						.overlay {
							top: 0;
							left: 0;
							height: 100%;
							width: 100%;
							opacity: 0;
							cursor: pointer;
							i {
								right: 5px;
								bottom: 5px;
								color: #bf4fd3;
								background-color: $backColor;
								padding: 15px;
								border-radius: 50%;
							}
						}
					}
				}
			}
		}
	}
}
