.search {
	background-color: $backColor;
	z-index: 10;
	top: -74px;
	form {
		input {border-radius: 30px; background-color: #000 !important; outline: none;}
		span:first-of-type {left: -75px; cursor: pointer;}
		span:last-of-type {
			font-size: 30px;
			top: 50%;
			right: 120px;
			transform: translateY(-50%);
			cursor: pointer;
			color: #888;
			&:hover {color: #dc3545 !important;}
		}
	}
}